#Workshop 2 - Data Preprocessing

###The goal of this tutorial is to demonstrate how important it is to process your data and to get an introductio into common techniques to improve model performance.

In [0]:
#The following notebook is a modified version version of the talk given by April Chen 
#in 2016 titled Depy 2016 Talk: Pre-Modeling: Data Preprocessing and Feature Exploration in Python. 
#original repo: https://github.com/aprilypchen/depy2016

#curated by Antoine Khuory and Botond Maros

##1) Import Libraries

We are going to use a dataset called "adult" dataset, which contains information about various individuals including age, education, marital status, gender, and income.

In [0]:
import pandas as pd
import numpy as np
url = 'https://raw.githubusercontent.com/aprilypchen/depy2016/master/adult.csv'
df = pd.read_csv(url, na_values=['#NAME?'])
# na_values parameter gives NaN to the objects in the list. (we have #NAME? in the dataset)

##2) Inspect data

In [91]:
# Peek at the first 5 rows
df.head(5)

    age         workclass    fnlwgt  ... hours_per_week  native_country income
0  39.0         State-gov   77516.0  ...             40   United-States  <=50K
1  50.0  Self-emp-not-inc   83311.0  ...             13   United-States  <=50K
2  38.0           Private  215646.0  ...             40   United-States  <=50K
3  53.0           Private  234721.0  ...             40   United-States  <=50K
4  28.0           Private  338409.0  ...             40            Cuba  <=50K

[5 rows x 15 columns]

##3) Goal: Predict if someone's income is less or greater than 50k. (Binary classification)

In [92]:
# Let's visulaize dataset distribution, because unbalanced dataset's performance metrics can be misleading 

print(df['income'].value_counts())

<=50K    3779
>50K     1221
Name: income, dtype: int64

In [0]:
# Assign outcome as 0 if income <=50K and as 1 if income >50K
df['income'] = [0 if x == '<=50K' else 1 for x in df['income']]

In [94]:
df.head(5)

    age         workclass    fnlwgt  ... hours_per_week  native_country income
0  39.0         State-gov   77516.0  ...             40   United-States      0
1  50.0  Self-emp-not-inc   83311.0  ...             13   United-States      0
2  38.0           Private  215646.0  ...             40   United-States      0
3  53.0           Private  234721.0  ...             40   United-States      0
4  28.0           Private  338409.0  ...             40            Cuba      0

[5 rows x 15 columns]

### Get this to a format that a classifier will understand - numerial values only

In [95]:
# Save a copy of the dataset without any future modification
# We will compare modified and unmodified performance
df_unprocessed = df # create a copy of df, save original for later
df_unprocessed = df_unprocessed.dropna(axis=0, how='any')

print(df.shape)
print(df_unprocessed.shape)

(5000, 15)
(4496, 15)

In [0]:
#drop columns with non numerical data -> we are going to loose valuable information

### FILL IN ###

In [79]:
df_unprocessed.head(5)

    age    fnlwgt  education_num  ...  capital_loss  hours_per_week  income
0  39.0   77516.0           13.0  ...             0              40       0
1  50.0   83311.0           13.0  ...             0              13       0
2  38.0  215646.0            9.0  ...             0              40       0
4  28.0  338409.0           13.0  ...             0              40       0
5  37.0  284582.0           14.0  ...             0              40       0

[5 rows x 7 columns]

In [0]:
# Seperate feautes from target
X_unprocessed = df_unprocessed.drop('income', 1) #0 is for index, 1 is for column name
y = df_unprocessed.income

In [0]:
#import libraries for modelling
from sklearn.linear_model import LogisticRegression
from sklearn.model_selection import train_test_split
from sklearn.metrics import roc_auc_score

In [0]:
#split to train and test set
X_train_unproc, X_test_unproc, y_train, y_test = train_test_split(X_unprocessed, y, train_size=0.70, random_state = 1)

In [0]:
### FILL IN ###
# Funtion for fitting and evaluating

In [84]:
accuracy_unproc = fit_eval(X_train_unproc, X_test_unproc, y_train, y_test)
print ("The accuracy without data preprocessing is: %.2f %%" %(accuracy_unproc*100))

The accuracy without data preprocessing is: 60.35 %

/usr/local/lib/python3.6/dist-packages/sklearn/linear_model/logistic.py:432: FutureWarning: Default solver will be changed to 'lbfgs' in 0.22. Specify a solver to silence this warning.
  FutureWarning)

#------------------------------------------------------------------------------------------
#Now let's actually prepare the data!

In [0]:
y = df.income
X = df.drop(['income'], 1)

X.head(5)

In [86]:
X.head(5)

    age         workclass  ...  hours_per_week native_country
0  39.0         State-gov  ...              40  United-States
1  50.0  Self-emp-not-inc  ...              13  United-States
2  38.0           Private  ...              40  United-States
3  53.0           Private  ...              40  United-States
4  28.0           Private  ...              40           Cuba

[5 rows x 14 columns]

##4) Feature engineering

###4.1) Encode categorical variables

In [0]:
# Create a list of features to dummy
todummy_list = ['workclass', 'education', 'marital_status', 'occupation', 'relationship', 'race', 'sex', 'native_country']


# Function to dummy all the categorical variables used for modeling

### FILL IN ###


X = dummy_df(df, todummy_list)

In [88]:
# Sanity check
X.head(5)

    age    fnlwgt  ...  native_country_Vietnam  native_country_Yugoslavia
0  39.0   77516.0  ...                       0                          0
1  50.0   83311.0  ...                       0                          0
2  38.0  215646.0  ...                       0                          0
3  53.0  234721.0  ...                       0                          0
4  28.0  338409.0  ...                       0                          0

[5 rows x 107 columns]

In [89]:
# How much of your data is missing?
X.isnull().sum().sort_values(ascending=False).head()

fnlwgt                 107
education_num           57
age                     48
occupation_?             0
education_Preschool      0
dtype: int64

###4.2) Dealing with missing values

In [96]:
from sklearn.preprocessing import Imputer
# Restore data using median of 
# Try and explore other hyperparameters

### FILL IN ###

/usr/local/lib/python3.6/dist-packages/sklearn/utils/deprecation.py:66: DeprecationWarning: Class Imputer is deprecated; Imputer was deprecated in version 0.20 and will be removed in 0.22. Import impute.SimpleImputer from sklearn instead.
  warnings.warn(msg, category=DeprecationWarning)

In [61]:
# Now we shouldn't have any missing values, let's check it:
X.isnull().sum().sort_values(ascending=False).head()

native_country_Yugoslavia    0
education_Doctorate          0
education_Masters            0
education_Preschool          0
education_Prof-school        0
dtype: int64

##5) PCA

In [0]:
# Use PCA from sklearn.decompostion to find principal components
from sklearn.decomposition import PCA

#10 best columns that bests explain the data
pca = PCA(n_components=10)
X_pca = pd.DataFrame(pca.fit_transform(X))

In [63]:
X_pca.head(5)

               0            1          2  ...         7         8         9
0 -113214.310906  1139.462580 -93.369606  ...  1.121478  0.108223  0.343173
1 -107419.290228 -1034.479989 -97.563810  ...  0.179355  0.300504  0.308817
2   24915.709850 -1033.217957 -95.300296  ...  0.476792 -0.881009  0.350851
3   43990.709694 -1033.034504 -94.951651  ... -0.403026  0.048105 -0.348393
4  147678.709918 -1032.049809 -93.253523  ... -1.250544  0.092566 -0.053467

[5 rows x 10 columns]

In [0]:
## Split between train and test
x_train, x_test, y_train, y_test = train_test_split(X_pca, y, test_size = 0.3, random_state = 100)

In [65]:
# Use logistic regression again
model = LogisticRegression()
model.fit(x_train, y_train)

/usr/local/lib/python3.6/dist-packages/sklearn/linear_model/logistic.py:432: FutureWarning: Default solver will be changed to 'lbfgs' in 0.22. Specify a solver to silence this warning.
  FutureWarning)

LogisticRegression(C=1.0, class_weight=None, dual=False, fit_intercept=True,
                   intercept_scaling=1, l1_ratio=None, max_iter=100,
                   multi_class='warn', n_jobs=None, penalty='l2',
                   random_state=None, solver='warn', tol=0.0001, verbose=0,
                   warm_start=False)

In [66]:
y_predicted_proc = model.predict(x_test)
accuracy_proc = roc_auc_score(y_test,y_predicted_proc)
print ("The accuracy with data preprocessing is: %.2f %%" %(accuracy_proc*100))

The accuracy with data preprocessing is: 79.73 %

##6) Comparison

In [0]:
improvement = ((accuracy_proc-accuracy_unproc)/accuracy_unproc)*100

In [68]:
# Compare model performance
print('AUC of model with data preprocessing: {auc}'.format(auc=accuracy_proc))
print('AUC of model with data without preprocessing: {auc}'.format(auc=accuracy_unproc))
print('Model improvement of preprocessing: {per_improve}%'.format(per_improve = improvement))

AUC of model with data preprocessing: 0.797273526824978
AUC of model with data without preprocessing: 0.6035145052172917
Model improvement of preprocessing: 32.105114281872076%

### Things to check out:
- outlier detection - Tukey IQR
- binning low occurences in categorical data
- PCA